<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- Registering bean of type HelloService with some ID: myBean -->
	<bean id="myBean" class="day7.WelcomeService"/>
	<bean id="myBean2" class="day7.HelloService"/>
    
</beans>